<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenfei.pets.dao.IPetDAO">

    <select id="selectBookById" resultType="java.lang.Integer">
        select * from books where bookid = #{bookId};
    </select>

    <insert id="demo" parameterType="com.fenfei.pets.models.Book">
        insert into tb_dept(id, name)
        values
        <foreach collection="list" index="index" separator="," open="(" close=")" item="book">
          #{bookname} , #{id}
        </foreach>
    </insert>

</mapper>