<!--根节点是 configuration，可包含0个或多个 appender，0个或多个 logger，最多一个 root。-->
<configuration>
    <!--可包含0个或多个 appender-->
    <!--<property name="USER_HOME" value="/Users/shefenfei/Documents/web_workspace/pets/logs"/>-->
    <property resource="application.properties"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 一个layout -->
        <!--<layout class="ch.qos.logback.classic.layout.TTLLLayout"></layout>-->

        <!-- 0个或多个encoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] - %5level %logger{36} - %msg%n</pattern>
        </encoder>

        <!-- 0个或多个filter -->
        <!--<filter class="ch.qos.logback.core.filter.EvaluatorFilter"></filter>-->
    </appender>

    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>${USER_HOME}/application.log</file>-->
        <!--&lt;!&ndash;如果是 true，日志被追加到文件结尾，如果是 false，清空现存文件，默认是true&ndash;&gt;-->
        <!--<append>false</append>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] - %5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${USER_HOME}/application-%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--可以加在具体的包上 ，具体的类上，有继承关系-->
    <logger name="com.fenfei.pets.controller" level="INFO">
        <!--这样会导致日志重复输出两次-->
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--如果 additivity="false" 那么标识 只将日志打入文件 不叠加-->
    <logger name="com.fenfei.pets.controller.TestController" level="INFO" additivity="false">
        <!--这个类中的消息会进入日志文件-->
        <appender-ref ref="FILE"/>
    </logger>

    <!--最多一个 root-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="FILE"/>-->
        <!--<appender-ref ref="FILE"/>-->
    </root>
</configuration>